* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 880;
    height: 230;
    background: blue;
}

p{
    text-align: left;
    padding: 0%;
}

input{
padding: auto;
top: 32px;
left: 192px;
width: 91px;
background-color: rgba(247, 242, 236, 0.808);
box-sizing: border-box
}

h3{
border: 5px solid rgb(169, 169, 179);
border-width: 5px;
border-style: solid;
border-radius: 0%;


}
